@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.audio-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.file-box label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: white;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #47b8e0;
  cursor: pointer;
  border: 1px solid #47b8e0;
  border-bottom-color: #47b8e0;
  border-radius: 0.25em;
}

#exfile {
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.color-container {
  display:flex;
  font-weight: 500;
  align-items: center;
}
.color-container > p {
  margin-right: 20px;
  font-weight: 700;
}

.color-container > div {
  display: flex;
  align-items: center;
}

.color-container > div + div {
  margin-left: 15px;
}

.color-box {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: solid 2px #ddd;
  border-radius: 40px;
  margin-left: 10px;
}

input[name="color"] {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .audio-container {
    height: 30%;
    flex-direction: column;
  }

  .main-container {
    height: 70vh;
  }

  #canvas {
    width: 600px;
  }
}

@media screen and (max-width: 700px) {
  #canvas {
    width: 350px;
  }
}